@theme inline {
	--translate-size: 2px;
	--animation-duration: 0.2s;
	--animation-curve: cubic-bezier(0.7, 0, 0, 0.7);

	--animate-fade-in: fade-in var(--animation-duration) var(--animation-curve) both;
	--animate-fade-out: fade-out var(--animation-duration) var(--animation-curve) both;
	--animate-fade-in-up: fade-in-up var(--animation-duration) var(--animation-curve) both;
	--animate-fade-out-down: fade-out-down var(--animation-duration) var(--animation-curve) both;
	--animate-fade-in-down: fade-in-down var(--animation-duration) var(--animation-curve) both;
	--animate-fade-out-up: fade-out-up var(--animation-duration) var(--animation-curve) both;

	--animate-jump-up-down: jump-up-down 1s infinite;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in-up {
	0% {
		opacity: 0;
		transform: translateY(var(--translate-size));
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes fade-out-down {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(var(--translate-size));
	}
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		transform: translateY(calc(-1 * var(--translate-size)));
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fade-out-up {
	0% {
		opacity: 1;
		transform: translateY(0px);
	}
	100% {
		opacity: 0;
		transform: translateY(calc(-1 * var(--translate-size)));
	}
}

/* Text shimmer animation */

@utility text-shimmer {
	color: transparent;
	background-clip: text !important;
	animation: shimmer 1.5s linear infinite;
	background:
		radial-gradient(circle at center, rgba(255, 255, 255, 0.8), transparent) -200% 50% / 200% 100% no-repeat,
		var(--color-muted-foreground);

	&:is(.dark *) {
		background:
			radial-gradient(circle at center, rgb(0 0 0 / 80), transparent) -200% 50% / 200% 100% no-repeat,
			var(--color-muted-foreground);
	}
}

@keyframes shimmer {
	0% {
		background-position: 200% 0%;
	}
	100% {
		background-position: -200% 0%;
	}
}
